*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
}
header{
    width: 100%;
    height: 100px;
    /* border: 1px solid black; */
}
/* Container- usado para centralizar o conteudo do site*/
.layout-grid{
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    /* border:1px solid purple ; */
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img {
    width: 140px;
 

    /* border:1px solid greenyellow ; */
}
header div {
    display: flex;
    width: 330px;
    justify-content: space-between;
    align-items: center;
    /* border:2px solid green ; */
}
header nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.banner{
    width: 100%;
    /* height: 500px; */
    border: 2px solid purple;
    position: relative;
  
}
.banner img{
    width: 100%;

}
.banner a{
    position:absolute ;
    top: calc((50% - 45px / 2) + 100px);
    left: calc(50% - 155px / 2);
    display: flex;
    justify-content: center;
    align-items:center;

    width: 155px;
    height: 45px;
    background-color: #4444;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
}
.reason-to-use{

    height: 500px;
    border: 2px solid chartreuse;

}
.reason-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.reason-to-use .reason-card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 300px;
 
}
.reason-to-use .reason-card .imagem{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    border-radius: 50%;
}
.reason-to-use .reason-card h2{
    text-transform: uppercase;
    text-align: center;
}
.reason-to-use .reason-card p{
    color: darkgray;

}